@use "../../assets/sass/mixins.scss" as *;
@use "../../assets/sass/variables.scss" as *;

.footer {
    width: 100%;
    height: 10vh;

    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
}
