
// Sizing
$margin: 2em;
$padding: 2em;
$skill-image-size: 5em;

// Fonts
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Inter:wght@400;500;600;700&display=swap");
$primary-font: "Inter";
$secondary-font: "DM Sans";

// Colours
$primary-background: white;
$primary-colour: #bae8e8;
$secondary-colour: #272643;
$secondary-font-colour: #8c9cb1;
$rights-colour: #5f5f73;